@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Private Real Estate Firm Data Browser</p>
<p>Authorization required to access specefic pages for data integrioty purposes</p>
